<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyprogramme -->
      <package
            uri="platform:/plugin/tdt4250.studyprogramme.model/model/studyprogramme.ecore"
            class="tdt4250.studyprogramme.StudyprogrammePackage"
            genModel="model/studyprogramme.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated studyprogramme -->
      <parser
            type="studyprogramme"
            class="tdt4250.studyprogramme.util.StudyprogrammeResourceFactoryImpl"/>
   </extension>
</plugin>
