<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated schedulingRequirements -->
      <package
            uri="http://www.example.org/schedulingRequirements"
            class="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.SchedulingRequirementsPackage"
            genModel="model/schedulingRequirements.genmodel"/>
   </extension>

</plugin>
