<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated schedulingRequirements -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.presentation.SchedulingRequirementsModelWizardID"
            name="%_UI_SchedulingRequirementsModelWizard_label"
            class="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.presentation.SchedulingRequirementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SchedulingRequirementsModelFile.gif">
         <description>%_UI_SchedulingRequirementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated schedulingRequirements -->
      <editor
            id="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.presentation.SchedulingRequirementsEditorID"
            name="%_UI_SchedulingRequirementsEditor_label"
            icon="icons/full/obj16/SchedulingRequirementsModelFile.gif"
            extensions="schedulingrequirements"
            class="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.presentation.SchedulingRequirementsEditor"
            contributorClass="no.ntnu.tdt4250.group13.scheduling_requirements.schedulingRequirements.presentation.SchedulingRequirementsActionBarContributor">
      </editor>
   </extension>

</plugin>
